@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary = #1F1E24
secondary = #6556CD */

::-webkit-scrollbar {
  width:10px;
  width:7px;

}

::-webkit-scrollbar-thumb{
  background: #181819;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
  background: #6565CD;
  border-radius: 50px;
}

/* Style the select element */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #27272a;
  background-image: none;
  flex: 1;
  padding: 0.0em 1em; /* Adjusted padding */
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

/* Hide the default dropdown arrow in IE */
select::-ms-expand {
  display: none;
}

/* Wrapper for the select element */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3; /* Ensure the text is centered vertically */
  background: #27272a;
  overflow: hidden;
  border-radius: 0.25em;
}


.select::after {
  content: "\25BC"; 
  position: absolute;
  top: 50%; 
  right: 1em; 
  transform: translateY(-50%); 
  background: #27272a;
  pointer-events: none;
  transition: 0.25s all ease;
}


.select:hover::after {
  color: #6556CD;
}


select option {
  
  padding: 0.5em 1em;
}


